* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #93b49b;
  color: #050a30;
}
/*? ----------__HEADER__---------- */
.header {
  width: 100%;
  height: 10%;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffeadd;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: #93b49b;
}
.titel {
  border-bottom: 2px solid #ffeadd;
  justify-content: center;
  height: 4.5rem;
}
.titel h1 {
  width: 11rem;
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin-left: 7.2rem;
  text-align: center;
}
.navigation {
  width: calc(100% - 14.4rem);
  align-items: center;
  display: grid;
  grid-template-columns: 50%25%25%;
  margin: 0.5rem 0 0 7.2rem;
}
.navigation h3 {
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.nav-buttons {
  color: #050a30;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  font-family: "Forum", cursive;
  font-weight: 300;
  justify-self: flex-end;
}
.nav-buttons:hover {
  color: white;
}
.nav-buttons:active {
  color: #ffeadd;
}
/*?____________HOME PAGE________________  */
.home-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 10%;
}
.introduction {
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
  background-color: #ffeadd;
  padding: 1rem 0.625rem;
  font-size: 1.2rem;
}
.introduction h2 {
  margin-bottom: 1rem;
}
.contact {
  display: grid;
  grid-template-columns: 50%50%;
  min-height: 30vh;
  text-align: center;
  margin-bottom: 1rem;
}
.text {
  margin-top: 0.625rem;
  padding: 1rem;
  letter-spacing: 0.02rem;
  display: grid;
  grid-template-rows: 80%20%;
  background-color: #ffeadd;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}
.text:first-child {
  border-right: 1px solid #93b49b;
}
/*? ----------------CONTACT---------------- */
.aboutme {
  width:80%;
  height: 90%;
  background-color: #ffeadd;
  text-align: center;
  letter-spacing: 0.04rem;
  margin:2.5rem 0 2.5rem 10%;
}
.aboutme-text {
  padding:0.625rem;
}
.button {
  justify-content: center;
  color: #050a30;
  font-family: "Forum", cursive;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 300;
  text-decoration: none;
}
.button:hover {
  text-decoration: underline;
}

/*? -----------FOOTER------------  */
.footer {
  padding-top: 1rem;
  border-top: 2px solid #ffeadd;
  font-size: 0.7rem;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  height: 6.25rem;
}
img {
  width: 30px;
  height: 30px;
}
/*! ============ MEDIA QUERY ========= */
@media all and (max-width: 768px) {
  .navigation {
    margin-left: 1.7rem;
    grid-template-columns: 60%18%22%;
    width: calc(100% - 3.4rem);
  }
  .titel h1 {
    letter-spacing: 0.09rem;
    width: 12.5rem;
    margin: 0;
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 1rem;
  }
  .home-page {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0;
    margin-top: 0;
  }
  .home-page h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }
  .home-page p {
    text-align: center;
    font-size: 12px;
    padding: 0 15px 0 15px;
  }
  .text {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .contact {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    grid-template-rows: auto;
    grid-template-columns: none;
  }
  .contact p {
    text-align: center;
    font-size: 12px;
  }
  .text {
    padding: 2rem;
  }
  .text:first-child {
    border-right: none;
  }
  .aboutme {
    margin:0 0 1rem 0;
    width:100%;
    
  }
  .logo {
    width: 30px;
    height: 30px;
  }
}
.footer-p {
  grid-template-columns: 40%60%;
  margin: 0;
  width: 100%;
  margin-left: 0;
}
@media all and (max-width: 380px) {
  .header {
    border: none;
  }
  .titel h1 {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .navigation h3 {
    border-bottom: 2px solid #ffeadd;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation {
    grid-template-rows: 30px 30px 20px;
    width: 100%;
    justify-content: center;
    grid-template-columns: none;
    margin-left: 0;
  }
  .nav-buttons {
    justify-self: center;
  }
  .footer {
    height: 100px;
    grid-template-columns: 50%50%;
  }
  .footer-p {
    grid-template-columns: 40%60%;
    margin: 0;
    font-size: 0.5rem;
  }
}
