.App {
  margin-top: -1rem;
  padding-top: 0rem;
  padding-left: 0.312rem;
  padding-right: 0.312rem;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #93b49b;
  color: #050a30;
  margin: 0;
  padding: 0;
}
/*? ----------__HEADER__---------- */
.header {
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffeadd;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: #93b49b;
}

.titel {
  border-bottom: 2px solid #ffeadd;
  justify-content: center;
  height: 4.5rem;
}
.titel h1 {
  width: 11rem;
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin-left: 7.2rem;
  text-align: center;
}
.navigation {
  width: calc(100% - 14.4rem);
  align-items: center;
  display: grid;
  grid-template-columns: 50%25%25%;
  margin-left: 7.2rem;
}
.navigation h3 {
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.nav-buttons {
  color: #050a30;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  font-family: "Forum", cursive;
  font-weight: 300;
  justify-self: flex-end;
}
.nav-buttons:hover {
  color: white;
}
.nav-buttons:active {
  color: #ffeadd;
}
/*?____________HOME PAGE________________  */
.home-page {
  /* border: 3px solid white; */
  /* width: calc(100% - 14.4rem); */
  width:100%;
  border-radius: 5px;
  /* margin-left: 7.2rem; */
  margin-top: 1rem;
  /* background-color: #ffeadd; */
  box-sizing: border-box;
  /* margin-top: 2.5rem; */
}
.introduction {
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02rem;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #93b49b;
  border-radius: 5px;
  background-color: #ffeadd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.introduction h1 {
  margin-bottom: 1rem;
}
.introduction p {
  margin-bottom: 1rem;
}
.summary {
  border-top: 3px solid white;
  margin-right: 10px;
}
.contact {
  display: grid;
  grid-template-columns: 50%50%;
  /* margin-top: 3rem; */
  min-height: 35vh;
  box-sizing: border-box;
  /* background-color: #ffeadd; */
  text-align: center;
  /* border: 3px solid #93b49b; */
  /* border-radius: 5px; */
}
.text {
  border-top: 3px solid white;
  padding: 1.25rem;
  letter-spacing: 0.02rem;
  display: grid;
  grid-template-rows: 80%20%;
  border: 3px solid #93b49b;
  border-radius: 5px;
  background-color: #ffeadd;
}
.button1 {
  justify-content: center;
  align-self: end;
  margin-bottom: 1.25rem;
}
.text2 {
  border-top: 3px solid white;
  border-left: 3px solid white;
  padding: 1.25rem;
  letter-spacing: 0.02rem;
  display: grid;
  grid-template-rows: 80%20%;
  border: 3px solid #93b49b;
  border-radius: 5px;
  background-color: #ffeadd;
}
.button2 {
  justify-content: center;
  align-self: end;
  margin-bottom: 1.25rem;
}
.tekst {
  margin-bottom: 2rem;
}

/*? ----------------INTRO---------------- */
.intro {
  border: 3px solid white;
  width: calc(100% - 6rem);
  display: grid;
  grid-template-columns: 50%50%;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
  background-color: #ffeadd;
  box-sizing: border-box;
  text-align: center;
}
/*? ----------------CONTACT---------------- */
.aboutme {
  width: calc(100% - 14.4rem);
  height: 90%;
  background-color: #ffeadd;
  border: 2px solid white;
  margin-left: 7.2rem;
  margin-top: 2.5rem;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0.02rem;
}
.aboutme-text {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.button-facebook {
  justify-content: center;
  color: #050a30;
  background-color: white;
  text-decoration: none;
  font-family: "Forum", cursive;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  /* border: 3px solid white; */
  font-weight: 300;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-calendly {
  justify-content: center;
  color: #050a30;
  background-color: white;
  text-decoration: none;
  font-family: "Forum", cursive;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  /* border: 1px solid lightgray; */
  font-weight: 300;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-calendly:hover {
  background: linear-gradient(45deg, #b3c9b9 0%, #829e89 100%);
  color: white;
}
.button-facebook:hover {
  background: linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 50%
  );
}

/*? -----------FOOTER------------  */
.footer {
  margin-top: 1rem;
  border-top: 2px solid #ffeadd;
  /* display: grid;
  grid-template-columns: 80%10%10%; */
  font-size: 0.7rem;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  height: 6.250rem;
}
img {
  width: 30px;
  height: 30px;
}
/* a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  width: 30px;
  height: 30px;
} */
/*! ============ MEDIA QUERY ========= */
@media all and (max-width: 768px) {
  .navigation {
    width: calc(100% - 6rem);
  }
  .titel h1 {
    justify-content: center;
    text-align: center;
    margin-left: 3rem;
  }
  .navigation {
    margin-left: 3rem;
  }
  .navigation h3 {
    margin-left: 0;
  }
  .home-page {
    margin-left: 3rem;
    width: calc(100% - 6rem);
  }
  .aboutme {
    width: calc(100% - 6rem);
    margin-left: 3rem;
  }
  .footer-p {
    margin-left: 1rem;
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .footer-p {
    grid-template-columns: 40%60%;
    margin: 0;
    width: 100%;
    margin-left: 0;
  }
}
@media all and (max-width: 550px) {
  .titel h1 {
    letter-spacing: 0.09rem;
    width: 12.5rem;
    margin: 0;
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 1rem;
  }
  .header {
    border-bottom: none;
    height: 7.5rem;
  }
  .navigation {
    margin-left: 1.7rem;
    grid-template-columns: 60%18%22%;
    width: calc(100% - 3.4rem);
    border-bottom: 2px solid #ffeadd;
  }
  .home-page {
    margin-left: 1.7rem;
    width: calc(100% - 3.4rem);
  }
  .text {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .text2 {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    border-left: none;
  }
  .aboutme {
    width: calc(100% - 0.4rem);
    margin-left: 0.1rem;
    margin-top: 0rem;
  }
  .footer {
    font-size: 0.5rem;
    margin: 0;
    width: 100%;
    border: none;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
}
@media all and (max-width: 500px) {
  .navigation {
    border: none;
  }
  .home-page {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0;
    margin-top: 0;
  }
  .home-page h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }
  .home-page p {
    text-align: center;
    font-size: 12px;
    padding: 0 15px 0 15px;
  }
  .button1 {
    align-self: center;
  }
  .button2 {
    align-self: center;
  }
  .summary {
    margin-right: 0;
  }
  .intro {
    margin: 0;
    width: 100%;
    display: flex;

    padding: 0 5px 0 5px;
  }
  .intro p {
    font-size: 12px;
  }
  .contact {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    grid-template-rows: auto;
    grid-template-columns: none;
  }
  .contact p {
    text-align: center;
    font-size: 12px;
  }
  .button-facebook {
    justify-content: center;
    color: #050a30;
    background-color: white;
    text-decoration: none;
    font-family: "Forum", cursive;
    padding: 2px;
  }
  .button-calendly {
    justify-content: center;
    color: #050a30;
    background-color: white;
    text-decoration: none;
    font-family: "Forum", cursive;
    padding: 2px;
  }
  .footer {
    grid-template-columns: 20%40%20%20%;
  }
}
@media all and (max-width: 380px) {
  .header {
    height: 10.5rem;
    border: none;
  }
  .titel h1 {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .navigation h3 {
    border-bottom: 2px solid #ffeadd;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation {
    grid-template-rows: 30px 30px 20px;
    width: 100%;
    justify-content: center;
    grid-template-columns: none;
    margin-left: 0;
  }
  .nav-buttons {
    justify-self: center;
  }
  .footer {
    height: 100px;
    grid-template-columns: 50%50%;
  }
  .footer-p {
    grid-template-columns: 40%60%;
    margin: 0;
    font-size: 0.5rem;
  }
}
